In [8]:
import pandas as pd
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'iframe'
pio.templates.default = 'plotly'

In [9]:
aapl_df = pd.read_csv('AAPL.csv')
btc_df = pd.read_csv('BTC.csv')
gas_df = pd.read_csv('GAS.csv')
aapl_df['date'] = aapl_df['date'].apply(lambda x: pd.to_datetime(x))
btc_df['date'] = btc_df['date'].apply(lambda x: pd.to_datetime(x))
gas_df['Date'] = gas_df['Date'].apply(lambda x: pd.to_datetime(x))

In [10]:
aapl_df

,date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2019-09-23,53.383072,53.600066,53.066113,53.326996,53.326996,76662000,0.0,0.0
1,2019-09-24,53.890204,54.246174,52.953959,53.073425,53.073425,124763200,0.0,0.0
2,2019-09-25,53.285552,54.004802,52.941773,53.890209,53.890209,87613600,0.0,0.0
3,2019-09-26,53.639082,53.868268,53.353820,53.612263,53.612263,75334000,0.0,0.0
4,2019-09-27,53.770740,53.873145,52.975908,53.351383,53.351383,101408000,0.0,0.0
...,...,...,...,...,...,...,...,...,...
863,2023-02-27,147.710007,149.169998,147.449997,147.919998,147.919998,44998500,0.0,0.0
864,2023-02-28,147.050003,149.080002,146.830002,147.410004,147.410004,50547000,0.0,0.0
865,2023-03-01,146.830002,147.229996,145.009995,145.309998,145.309998,55479000,0.0,0.0
866,2023-03-02,144.380005,146.710007,143.899994,145.910004,145.910004,52279800,0.0,0.0
867,2023-03-03,148.039993,151.110001,147.330002,151.029999,151.029999,70668500,0.0,0.0

In [14]:
fig = px.scatter(data_frame=aapl_df, x='date', y='Adj Close', trendline='ols', title='AAPL')
fig.show()

In [15]:
fig = px.scatter(data_frame=btc_df, x='date', y='Close', trendline='ols', title='BTC')
fig.show()

In [16]:
fig = px.scatter(data_frame=gas_df, x='Date', y='Close', trendline='ols', title='GAS(N.NG)')
fig.show()

In [18]:
import numpy as np

In [20]:
btc_df.head(5)

        date      Open      High      Low    Close        Volume
0 2019-09-23  10028.05  10049.99  9615.77  9702.25  31937.232356
1 2019-09-24   9702.20   9794.99  7800.00  8493.14  94007.345203
2 2019-09-25   8497.55   8730.00  8215.64  8430.05  60783.892258
3 2019-09-26   8430.05   8465.99  7750.00  8063.73  67930.853749
4 2019-09-27   8063.49   8265.00  7852.15  8177.91  43882.924625

In [41]:
btc_log_return = np.log(btc_df['Close']/btc_df['Open'])
task1_mu = np.mean(btc_log_return)
task1_sigma = np.std(btc_log_return)
task1_mu, task1_sigma

(0.0006404770261511339, 0.03866681249944105)

In [29]:
fig = px.histogram(data_frame = btc_log_return)
fig.show()

In [39]:
from sklearn import preprocessing
btc_log_return_normalized = preprocessing.normalize([btc_log_return])
fig = px.histogram(data_frame = btc_log_return_normalized[0])
fig.show()

In [40]:
task3_mu = np.mean(btc_log_return_normalized)
task3_sigma = np.std(btc_log_return_normalized)
task3_mu, task3_sigma

(0.00046675905197518877, 0.028179129005764872)

In [48]:
sample = np.random.choice(btc_log_return_normalized.reshape(-1), size=634)
task4_99 = task4_95 = task4_90 = np.mean(sample)
s = sample.std()

In [93]:
task4_90

-0.0006127643030098724

In [94]:
task4_90_int = [task4_90-1.65*s/np.sqrt(len(sample)), task4_90+1.65*s/np.sqrt(len(sample))]
task4_95_int = [task4_95-1.96*s/np.sqrt(len(sample)), task4_95+1.96*s/np.sqrt(len(sample))]
task4_99_int = [task4_99-2.58*s/np.sqrt(len(sample)), task4_99+2.58*s/np.sqrt(len(sample))]
task4_90_int, task4_95_int, task4_99_int

([-0.0025131517468730256, 0.0012876231408532808],
 [-0.002870194236326103, 0.0016446656303063583],
 [-0.0035842792152322575, 0.0023587506092125126])

In [78]:
btc_df1 = pd.concat([btc_df['date'], pd.Series(btc_log_return_normalized.reshape(-1), name='return')],axis=1)
aapl_log_return = np.log(aapl_df['Close']/aapl_df['Open'])
aapl_log_return_normalized = preprocessing.normalize([aapl_log_return])
aapl_df1 = pd.concat([aapl_df['date'], pd.Series(aapl_log_return_normalized.reshape(-1), name='return')],axis=1)
btc_aapl_df = pd.merge(btc_df1, aapl_df1, on='date')

In [82]:
btc_aapl_df['return_x'].corr(btc_aapl_df['return_y'])

0.23140266188288458

In [84]:
gas_log_return = np.log(gas_df['Close']/gas_df['Open'])
gas_log_return_normalized = preprocessing.normalize([gas_log_return])
gas_df1 = pd.concat([gas_df['Date'], pd.Series(gas_log_return_normalized.reshape(-1), name='return')],axis=1)

In [86]:
btc_log_return_normalized.mean(), aapl_log_return_normalized.mean(), gas_log_return_normalized.mean()

(0.00046675905197518877, 0.0022542448456375442, -0.0013203921757442105)

In [87]:
btc_log_return_normalized.std(), aapl_log_return_normalized.std(), gas_log_return_normalized.std()

(0.028179129005764872, 0.033867272002551525, 0.03385797085207262)

In [ ]:
# на основе Close извлеките логарифмическую доходность BTC task1, ответ – мю и сигма
# проверьте распределение получившихся данных BTC task2, ответ yes/no 
# возмонжо попробуйте их (BTC) нормализовать task3, ответ – mu и sigma
# попробуйте предположить по подвыборке размером 634 дней среднее значение для доходностей (BTC) на уровне 90 95 99 – task 4, ответ – val + [a;b]
# проверьте корреляцию доходностей BTC & AAPL – task5, ответ – yes/no
# проверьте гипотезу о равенствен средних и дисперсии доходностей BTC & AAPL & GAS – task6, ответ – yes/no

In [95]:
ANSWERS = {
    'tasks' : {
        'task1_mu' : {
            "answer" : task1_mu
        }, 
        'task1_sigma' : {
            "answer" : task1_sigma
        }, 
        'task2_normal' : {
            'answer' : 'no'
        }, 
        'task3_mu' : {
            "answer" : 0.00046675905197518877
        }, 
        'task3_sigma' : {
            "answer" : 0.028179129005764872
        }, 
        'task4_90' : {
            "answer" : -0.0006127643030098724
        }, 
        'task4_90_int' : {
            "answer" : [-0.0025131517468730256, 0.0012876231408532808]
        }, 
        'task4_95' : {
            "answer" : -0.0006127643030098724
        }, 
        'task4_95_int' : {
            "answer" : [-0.002870194236326103, 0.0016446656303063583]
        }, 
        'task4_99' : {
            "answer" : -0.0006127643030098724
        }, 
        'task4_99_int' : {
            "answer" : [-0.0035842792152322575, 0.0023587506092125126]
        }, 
        'task5_corr' : {
            "answer" : "no"
        },
        'task6_corr_mu' : {
            "answer" : "no"
        },
        'task6_corr_sigma' : {
            "answer" : "no"
        }
    }
}

In [96]:
import yaml
yaml_result = yaml.dump(ANSWERS)

print(yaml_result)

with open(f"hw03.yaml", "w") as f:
    f.write(yaml_result)

tasks:
  task1_mu:
    answer: 0.0006404770261511339
  task1_sigma:
    answer: 0.03866681249944105
  task2_normal:
    answer: 'no'
  task3_mu:
    answer: 0.00046675905197518877
  task3_sigma:
    answer: 0.028179129005764872
  task4_90:
    answer: -0.0006127643030098724
  task4_90_int:
    answer:
    - -0.0025131517468730256
    - 0.0012876231408532808
  task4_95:
    answer: -0.0006127643030098724
  task4_95_int:
    answer:
    - -0.002870194236326103
    - 0.0016446656303063583
  task4_99:
    answer: -0.0006127643030098724
  task4_99_int:
    answer:
    - -0.0035842792152322575
    - 0.0023587506092125126
  task5_corr:
    answer: 'no'
  task6_corr_mu:
    answer: 'no'
  task6_corr_sigma:
    answer: 'no'